{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1> {{ 'add.new.season'|trans}}</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}"> {{ 'back.list'|trans}}</a>
{% endblock %}
