{% extends 'base.html.twig' %}

{% block title %}All actors{% endblock %}

{% block body %}
    <h1>Tous les acteurs : </h1>
    {% for actor in actors %}
        <div>
            <h2>{{ loop.index }} - Acteur : {{ actor.name }}</h2>
            <a href="{{ path("actor_show", { 'id': actor.id }) }}">Consulter cet acteur</a>
        </div>
    {% else %}
        Aucun acteur trouvé.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}