
{%  extends 'base.html.twig' %}
{% block title %}Mon profil{% endblock %}

    {% block body %}
        <div class="container-fluid">
        <div class="card p-4 m-5">
            <h1 class="m-4 text-center text-dark">Mon compte</h1>
            <p>Email : {{ app.user.email}}</p>
        </div>>

        </div>
    {% endblock %}
